@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-3">
    <h1>Kategori Ekleme Sayfası</h1>
</div>
<form method="post">
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <label>Meslek Adı:</label>
            </td>
            <td>
                <input type="text" class="form-control" name="Name" />
                <div style="color:red">
                    @Html.ValidationMessageFor(x=>x.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-info">Kategori Ekle</button>
            </td>
        </tr>
    </table>
</form>
